$listHeight: 100px;
$listBgColor: #EDEDED;
$listActiveColor: #CCC;
$listHeaderHeight: 40px;
$listFooterHeight: 40px;
.ui-list{
	li{
		// height: $listHeight;
		// line-height: $listHeight;
		// background-color: $listBgColor;
	} 
	li.ui-list-active{
		background-color: $listActiveColor;
	}
}
//待优化
.ui-list-header{
	margin-top: $listHeaderHeight;
}
.ui-list-footer{
	margin-bottom: $listHeaderHeight;
}
.ui-list-hf{
	margin-top: $listHeaderHeight;
	margin-bottom: $listFooterHeight;
}