$tabPading: 10px;
//$activeBg:#CCC;
$tabContainFullTop:40px;
$tabContainFullBtm:0px;
.ui-tab{
	.ui-tab-header{
		display: flex;
		align-items: stretch;
		.ui-item-header{
			display: flex;
			flex: 1;
			justify-content: center;
			align-items: center;
			width: 0%;
			padding:$tabPading;
			&.active{
				//background: $activeBg;
			}
		}
	}
	// .ui-tab-ani {
	// 	.ui-item-header{
	// 		transition: all 1s ease;
	// 	}
	// 	&.ui-tab-contain{
	// 		display: flex;
	// 		flex-direction: column;
	// 		.ui-item-contain{
	// 			transition: all 1s ease;
	// 		}
	// 	}
	// 	border:1px solid #CCC;
	// 	transition: all 1s ease;
	// }
	&.ui-tab-full{
		.ui-tab-contain{
			.ui-item-contain{
				position: absolute;
				top: $tabContainFullTop;
				bottom: $tabContainFullBtm;
				overflow-y: scroll;
				background: #FFF;
				-webkit-overflow-scrolling: touch;
				width: 100%;
				&.active{
				z-index: 999;
			}
			}

		}
	}
}