@charset "UTF-8";
/*CSS Reset*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
header,
hgroup,
nav,
section,
article,
aside,
footer,
figure,
figcaption,
menu,
button {
  margin: 0;
  padding: 0;
  outline: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  line-height: 1.5;
  font-size: 14px;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

li {
  list-style: none; }

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: 0;
  background: none;
  -webkit-appearance: none;
  outline: 0;
  border-radius: 0; }

a, button, input, select, textarea, a:focus, button:focus, input:focus, select:focus, textarea:focus, [onclick] {
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

a {
  -webkit-touch-callout: none;
  text-decoration: none;
  outline: 0; }

em, i {
  font-style: normal; }

.c1 {
  width: 100px;
  height: 100px;
  border: 1px solid #F00; }
  .c1:hover {
    -webkit-box-shadow: 4px 4px 4px #000;
            box-shadow: 4px 4px 4px #000; }

.c2 {
  width: 100px;
  height: 100px;
  border: 1px solid #F00; }
  .c2:hover {
    -webkit-box-shadow: 4px 4px 4px #000;
            box-shadow: 4px 4px 4px #000; }

.ui-header-def {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  background: #FFF; }

.ui-footer-def {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  background: #FFF; }

.ui-list li.ui-list-active {
  background-color: #CCC; }

.ui-list-header {
  margin-top: 40px; }

.ui-list-footer {
  margin-bottom: 40px; }

.ui-list-hf {
  margin-top: 40px;
  margin-bottom: 40px; }

.ui-border-t {
  border-top: 1px solid #F00; }

.ui-border-b {
  border-bottom: 1px solid #F00; }

.ui-border-tb {
  border-top: #F00 1px solid;
  border-bottom: #F00 1px solid;
  background-image: none; }

.ui-border-lr {
  border-top: #F00 1px solid;
  border-bottom: #F00 1px solid;
  background-image: none; }

.ui-border-l {
  border-left: 1px solid #F00; }

.ui-border-r {
  border-right: 1px solid #F00; }

.ui-border {
  border: 1px solid #F00; }

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .ui-border {
    position: relative;
    border: 0; }

  .ui-border-t, .ui-border-b, .ui-border-l, .ui-border-r, .ui-border-tb {
    border: 0; }

  .ui-border:before {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #F00;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    padding: 1px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

  .ui-border-t {
    background-position: top;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #F00), color-stop(50%, #F00), color-stop(50%, transparent));
    background-image: -webkit-linear-gradient(bottom, #F00 0, #F00 50%, transparent 50%);
    background-image: linear-gradient(to top, #F00 0, #F00 50%, transparent 50%); }

  .ui-border-b {
    background-position: bottom;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F00), color-stop(50%, #F00), color-stop(50%, transparent));
    background-image: -webkit-linear-gradient(top, #F00 0, #F00 50%, transparent 50%);
    background-image: linear-gradient(to bottom, #F00 0, #F00 50%, transparent 50%); }

  .ui-border-t,
  .ui-border-b {
    background-repeat: repeat-x;
    -webkit-background-size: 100% 1px;
            background-size: 100% 1px; }

  .ui-border-tb {
    background-position: bottom,top;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F00), color-stop(50%, #F00), color-stop(50%, transparent)), -webkit-gradient(linear, left bottom, left top, color-stop(0, #F00), color-stop(50%, #F00), color-stop(50%, transparent));
    background-image: -webkit-linear-gradient(top, #F00 0, #F00 50%, transparent 50%), -webkit-linear-gradient(bottom, #F00 0, #F00 50%, transparent 50%);
    background-image: linear-gradient(to bottom, #F00 0, #F00 50%, transparent 50%), linear-gradient(to top, #F00 0, #F00 50%, transparent 50%);
    background-repeat: repeat-x,repeat-x;
    -webkit-background-size: 100% 1px,100% 1px;
            background-size: 100% 1px,100% 1px; }

  .ui-border-l {
    background-position: left;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #F00), color-stop(50%, #F00), color-stop(50%, transparent));
    background-image: -webkit-linear-gradient(left, #F00 0, #F00 50%, transparent 50%);
    background-image: linear-gradient(to right, #F00 0, #F00 50%, transparent 50%); }

  .ui-border-r {
    background-position: right;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #F00), color-stop(50%, #F00), color-stop(50%, transparent));
    background-image: -webkit-linear-gradient(left, #F00 0, #F00 50%, transparent 50%);
    background-image: linear-gradient(to right, #F00 0, #F00 50%, transparent 50%); }

  .ui-border-l,
  .ui-border-r {
    background-repeat: repeat-y;
    -webkit-background-size: 1px 100%;
            background-size: 1px 100%; }

  .ui-border-lr {
    background-position: left,right;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #F00), color-stop(50%, #F00), color-stop(50%, transparent)), -webkit-gradient(linear, left top, right top, color-stop(0, #F00), color-stop(50%, #F00), color-stop(50%, transparent));
    background-image: -webkit-linear-gradient(left, #F00 0, #F00 50%, transparent 50%), -webkit-linear-gradient(left, #F00 0, #F00 50%, transparent 50%);
    background-image: linear-gradient(to right, #F00 0, #F00 50%, transparent 50%), linear-gradient(to right, #F00 0, #F00 50%, transparent 50%);
    background-repeat: repeat-y,repeat-y;
    -webkit-background-size: 1px 100%,1px 100%;
            background-size: 1px 100%,1px 100%; } }
.ui-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center; }

.ui-header-sta {
  width: 100%;
  text-align: center; }

.ui-flex-ptr {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
          align-items: stretch; }
  .ui-flex-ptr .ui-item-ptr {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    width: 0%;
    padding: 10px; }

.ui-tap .ui-tap-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
          align-items: stretch; }
  .ui-tap .ui-tap-header .ui-item-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    width: 0%;
    padding: 10px; }

.ui-form-text {
  border: 1px solid #CCC;
  border-radius: 5px;
  height: 24px;
  margin: 10px; }

.ui-select-wrap {
  position: relative;
  width: 90%;
  height: 40px;
  line-height: 40px; }
  .ui-select-wrap .ui-select-value, .ui-select-wrap .ui-form-select {
    position: absolute;
    width: 100%;
    height: inherit; }
  .ui-select-wrap .ui-select-value {
    border: 1px solid #CCC;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center; }
  .ui-select-wrap .ui-form-select {
    top: 0;
    left: 0;
    opacity: 0; }
  .ui-select-wrap .ui-select-arr {
    position: absolute;
    right: 10px;
    line-height: inherit;
    height: inherit; }
    .ui-select-wrap .ui-select-arr:after {
      content: "↓"; }

.ui-pop-def {
  width: 60%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.6);
  top: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px;
  color: #EEE;
  font-size: 16px;
  position: fixed;
  z-index: 999;
  left: 50%;
  margin-left: -30%; }

.ui-pop-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #EEE;
  font-size: 16px;
  z-index: 899; }

.flex-direction-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column; }

.ani-pop-sta {
  -webkit-animation: pop-def-static .4s ease-in-out;
          animation: pop-def-static .4s ease-in-out; }

.ani-pop-full {
  -webkit-animation: pop-screen-static .4s ease;
          animation: pop-screen-static .4s ease; }

.ani-pop-rem {
  -webkit-animation: pop-def-remove 1.2s ease-in-out;
          animation: pop-def-remove 1.2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes pop-def-static {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: .2; }
  85% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: .9; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes pop-def-static {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: .2; }
  85% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: .9; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }
@-webkit-keyframes pop-screen-static {
  0% {
    opacity: .6;
    -webkit-transform: scale(0.6);
            transform: scale(0.6); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }
@keyframes pop-screen-static {
  0% {
    opacity: .6;
    -webkit-transform: scale(0.6);
            transform: scale(0.6); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }
@-webkit-keyframes pop-def-remove {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: .2; }
  20% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: .9; }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes pop-def-remove {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: .2; }
  20% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: .9; }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
