.ui-list li {
  height: 100px;
  line-height: 100px;
  background-color: #EDEDED; }
.ui-list li.ui-list-active {
  background-color: #CCC; }

.ui-list-header {
  margin-top: 40px; }

.ui-list-footer {
  margin-bottom: 40px; }

.ui-list-hf {
  margin-top: 40px;
  margin-bottom: 40px; }
