.ui-pop-def {
  width: 60%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.6);
  top: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px;
  color: #EEE;
  font-size: 16px;
  position: fixed;
  z-index: 999;
  left: 50%;
  margin-left: -30%; }

.ui-pop-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #EEE;
  font-size: 16px;
  z-index: 899; }

.flex-direction-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column; }

.ani-pop-sta {
  -webkit-animation: pop-def-static .4s ease-in-out;
          animation: pop-def-static .4s ease-in-out; }

.ani-pop-full {
  -webkit-animation: pop-screen-static .4s ease;
          animation: pop-screen-static .4s ease; }

.ani-pop-rem {
  -webkit-animation: pop-def-remove 1.2s ease-in-out;
          animation: pop-def-remove 1.2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes pop-def-static {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: .2; }
  85% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: .9; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes pop-def-static {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: .2; }
  85% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: .9; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }
@-webkit-keyframes pop-screen-static {
  0% {
    opacity: .6;
    -webkit-transform: scale(0.6);
            transform: scale(0.6); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }
@keyframes pop-screen-static {
  0% {
    opacity: .6;
    -webkit-transform: scale(0.6);
            transform: scale(0.6); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }
@-webkit-keyframes pop-def-remove {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: .2; }
  20% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: .9; }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes pop-def-remove {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: .2; }
  20% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: .9; }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
