.ui-tap .ui-tap-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: stretch;
          align-items: stretch; }
  .ui-tap .ui-tap-header .ui-item-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    width: 0%;
    padding: 10px; }
