.ui-tab .ui-tab-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
          align-items: stretch; }
  .ui-tab .ui-tab-header .ui-item-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    width: 0%;
    padding: 10px; }
.ui-tab.ui-tab-full .ui-tab-contain .ui-item-scroll {
  position: absolute;
  top: 40px;
  bottom: 0px;
  overflow-y: scroll;
  background: #FFF;
  -webkit-overflow-scrolling: touch;
  width: 100%; }
  .ui-tab.ui-tab-full .ui-tab-contain .ui-item-scroll.active {
    z-index: 999; }
