.ui-form .ui-form-title {
  padding-left: 15px;
  color: #6D6D72;
  font-size: 14px;
  margin-top: 30px; }
.ui-form > ul {
  background: #FFF; }
.ui-form > ul li {
  font-size: 16px;
  margin-left: 15px;
  height: 44px;
  line-height: 44px; }
.ui-form .ui-border-t:first-child {
  border: 0;
  background-image: none; }
.ui-form .ui-form-text {
  display: flex;
  margin-left: 15px;
  height: 44px;
  line-height: 44px;
  justify-content: space-between;
  align-items: center; }
  .ui-form .ui-form-text label {
    display: block;
    flex: 0 0 90px;
    width: 90px; }
  .ui-form .ui-form-text .ui-form-input {
    display: block;
    flex: 1;
    padding-left: 5px;
    height: 44px; }
  .ui-form .ui-form-text .ui-select-wrap {
    flex: 1; }
    .ui-form .ui-form-text .ui-select-wrap .ui-select-value {
      border: none;
      text-align: left;
      padding-left: 5px; }
    .ui-form .ui-form-text .ui-select-wrap .ui-select-arr {
      right: 20px; }
    .ui-form .ui-form-text .ui-select-wrap .ui-select-arr:after {
      content: '\e603'; }
.ui-form .ui-form-switch {
  padding-right: 15px; }
  .ui-form .ui-form-switch input {
    width: 50px;
    height: 30px;
    border-radius: 18px;
    position: relative;
    display: block; }
    .ui-form .ui-form-switch input:after {
      width: 50px;
      height: 30px;
      box-sizing: border-box;
      border: 1px solid #BCB8B8;
      border-radius: 18px;
      border: 1px solid #BCB8B8;
      transition: box-shadow .3s ease-in-out,border .3s ease;
      box-shadow: #FFF 0 0 0 0 inset;
      content: '';
      display: block;
      margin: 0px auto; }
    .ui-form .ui-form-switch input:checked:after {
      border: 0px solid #BCB8B8;
      box-shadow: #4DD865 0 0 0 16px inset; }
    .ui-form .ui-form-switch input:checked:before {
      transform: translateX(20px); }
    .ui-form .ui-form-switch input:before {
      content: ' ';
      display: block;
      width: 28px;
      height: 28px;
      background: #FFF;
      position: absolute;
      top: 1px;
      left: 1px;
      border-radius: 14px;
      box-shadow: 0px 2px 2px #C7C7C7;
      z-index: 999;
      transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28); }
.ui-form .ui-form-radio, .ui-form .ui-form-checkbox {
  flex: 1;
  height: 30px;
  border: 1px solid #037AFF;
  border-radius: 4px;
  display: flex;
  margin-right: 15px;
  overflow: hidden; }
  .ui-form .ui-form-radio input.ui-radio-item, .ui-form .ui-form-radio input.ui-checkbox-item, .ui-form .ui-form-checkbox input.ui-radio-item, .ui-form .ui-form-checkbox input.ui-checkbox-item {
    flex: 1;
    width: 0%;
    border-left: 1px solid #037AFF;
    color: #037AFF;
    background: #FFF;
    height: 100%;
    display: block; }
    .ui-form .ui-form-radio input.ui-radio-item:first-child, .ui-form .ui-form-radio input.ui-checkbox-item:first-child, .ui-form .ui-form-checkbox input.ui-radio-item:first-child, .ui-form .ui-form-checkbox input.ui-checkbox-item:first-child {
      border-left: 0; }
    .ui-form .ui-form-radio input.ui-radio-item:checked, .ui-form .ui-form-radio input.ui-checkbox-item:checked, .ui-form .ui-form-checkbox input.ui-radio-item:checked, .ui-form .ui-form-checkbox input.ui-checkbox-item:checked {
      background: #037AFF;
      color: #FFF; }
    .ui-form .ui-form-radio input.ui-radio-item:after, .ui-form .ui-form-radio input.ui-checkbox-item:after, .ui-form .ui-form-checkbox input.ui-radio-item:after, .ui-form .ui-form-checkbox input.ui-checkbox-item:after {
      content: attr(title);
      display: block;
      text-align: center;
      line-height: 30px; }

.ui-select-wrap {
  position: relative;
  width: 90%;
  height: 44px;
  line-height: 44px; }
  .ui-select-wrap .ui-select-value, .ui-select-wrap .ui-form-select {
    position: absolute;
    width: 100%;
    height: inherit; }
  .ui-select-wrap .ui-select-value {
    border: 1px solid #CCC;
    box-sizing: border-box;
    text-align: center; }
  .ui-select-wrap .ui-form-select {
    top: 0;
    left: 0;
    opacity: 0; }
  .ui-select-wrap .ui-select-arr {
    position: absolute;
    right: 10px;
    line-height: inherit;
    height: inherit; }

/*# sourceMappingURL=ui-form.css.map */
